/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
/*!
normalize.css v^3.0 | MIT License | git.io/normalize
Copyright (c) Nicolas Gallagher and Jonathan Neal
*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
	 ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
	 ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0 0.34em 0;
}

h2 {
	font-size: 1.67em;
	margin: 0.5em 0 0.25em 0;
}

h3 {
	font-size: 1.34em;
	margin: 0.34em 0 0.18em 0;
}

h4 {
	font-size: 1em;
	margin: 0.25em 0 0.12em 0;
}

h5 {
	font-size: 1em;
	margin: 0.12em 0 0.6em 0;
}

h6 {
	font-size: 1em;
	margin: 0.12em 0 0 0;
}


/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
	 ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
	 ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* 2 */
	box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*csslint important:false*/

/* ==========================================================================
   Pure Base Extras
   ========================================================================== */

/**
 * Extra rules that Pure adds on top of Normalize.css
 */

/**
 * Always hide an element when it has the `hidden` HTML attribute.
 */

.hidden,
[hidden] {
	display: none !important;
}

/**
 * Add this class to an image to make it fit within it's fluid parent wrapper while maintaining
 * aspect ratio.
 */
.p-img {
	max-width: 100%;
	height: auto;
	display: block;
}
/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.p-button {
	/* Structure */
	display: inline-block;
	zoom: 1;
	line-height: normal;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.p-button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/*csslint outline-none:false*/

.p-button {
	font-family: inherit;
	font-size: 100%;
	padding: 0.5em 1em;
	color: #444; /* rgba not supported (IE 8) */
	color: rgba(0, 0, 0, 0.80); /* rgba supported */
	border: 1px solid #999;  /*IE 6/7/8*/
	border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
	background-color: #E6E6E6;
	text-decoration: none;
	border-radius: 2px;
}

.p-button-hover,
.p-button:hover,
.p-button:focus {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
	background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
	background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
	background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.p-button:focus {
	outline: 0;
}
.p-button-active,
.p-button:active {
	box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
	border-color: #000\9;
}

.p-button[disabled],
.p-button-disabled,
.p-button-disabled:hover,
.p-button-disabled:focus,
.p-button-disabled:active {
	border: none;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	filter: alpha(opacity=40);
	-khtml-opacity: 0.40;
	-moz-opacity: 0.40;
	opacity: 0.40;
	cursor: not-allowed;
	box-shadow: none;
}

.p-button-hidden {
	display: none;
}

/* Firefox: Get rid of the inner focus border */
.p-button::-moz-focus-inner{
	padding: 0;
	border: 0;
}

.p-button-primary,
.p-button-selected,
a.p-button-primary,
a.p-button-selected {
	background-color: rgb(0, 120, 231);
	color: #fff;
}
/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
/*csslint box-model:false*/
/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/

.p-form input[type="text"],
.p-form input[type="password"],
.p-form input[type="email"],
.p-form input[type="url"],
.p-form input[type="date"],
.p-form input[type="month"],
.p-form input[type="time"],
.p-form input[type="datetime"],
.p-form input[type="datetime-local"],
.p-form input[type="week"],
.p-form input[type="number"],
.p-form input[type="search"],
.p-form input[type="tel"],
.p-form input[type="color"],
.p-form select,
.p-form textarea {
	padding: 0.5em 0.6em;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.p-form input:not([type]) {
	padding: 0.5em 0.6em;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.p-form input[type="color"] {
	padding: 0.2em 0.5em;
}


.p-form input[type="text"]:focus,
.p-form input[type="password"]:focus,
.p-form input[type="email"]:focus,
.p-form input[type="url"]:focus,
.p-form input[type="date"]:focus,
.p-form input[type="month"]:focus,
.p-form input[type="time"]:focus,
.p-form input[type="datetime"]:focus,
.p-form input[type="datetime-local"]:focus,
.p-form input[type="week"]:focus,
.p-form input[type="number"]:focus,
.p-form input[type="search"]:focus,
.p-form input[type="tel"]:focus,
.p-form input[type="color"]:focus,
.p-form select:focus,
.p-form textarea:focus {
	outline: 0;
	border-color: #129FEA;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.p-form input:not([type]):focus {
	outline: 0;
	border-color: #129FEA;
}

.p-form input[type="file"]:focus,
.p-form input[type="radio"]:focus,
.p-form input[type="checkbox"]:focus {
	outline: thin solid #129FEA;
	outline: 1px auto #129FEA;
}
.p-form .p-checkbox,
.p-form .p-radio {
	margin: 0.5em 0;
	display: block;
}

.p-form input[type="text"][disabled],
.p-form input[type="password"][disabled],
.p-form input[type="email"][disabled],
.p-form input[type="url"][disabled],
.p-form input[type="date"][disabled],
.p-form input[type="month"][disabled],
.p-form input[type="time"][disabled],
.p-form input[type="datetime"][disabled],
.p-form input[type="datetime-local"][disabled],
.p-form input[type="week"][disabled],
.p-form input[type="number"][disabled],
.p-form input[type="search"][disabled],
.p-form input[type="tel"][disabled],
.p-form input[type="color"][disabled],
.p-form select[disabled],
.p-form textarea[disabled] {
	cursor: not-allowed;
	background-color: #eaeded;
	color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.p-form input:not([type])[disabled] {
	cursor: not-allowed;
	background-color: #eaeded;
	color: #cad2d3;
}
.p-form input[readonly],
.p-form select[readonly],
.p-form textarea[readonly] {
	background-color: #eee; /* menu hover bg color */
	color: #777; /* menu text color */
	border-color: #ccc;
}

.p-form input:focus:invalid,
.p-form textarea:focus:invalid,
.p-form select:focus:invalid {
	color: #b94a48;
	border-color: #e9322d;
}
.p-form input[type="file"]:focus:invalid:focus,
.p-form input[type="radio"]:focus:invalid:focus,
.p-form input[type="checkbox"]:focus:invalid:focus {
	outline-color: #e9322d;
}
.p-form select {
	/* Normalizes the height; padding is not sufficient. */
	height: 2.25em;
	border: 1px solid #ccc;
	background-color: white;
}
.p-form select[multiple] {
	height: auto;
}
.p-form label {
	margin: 0.5em 0 0.2em;
}
.p-form fieldset {
	margin: 0;
	padding: 0.35em 0 0.75em;
	border: 0;
}
.p-form legend {
	display: block;
	width: 100%;
	padding: 0.3em 0;
	margin-bottom: 0.3em;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
}

.p-form-stacked input[type="text"],
.p-form-stacked input[type="password"],
.p-form-stacked input[type="email"],
.p-form-stacked input[type="url"],
.p-form-stacked input[type="date"],
.p-form-stacked input[type="month"],
.p-form-stacked input[type="time"],
.p-form-stacked input[type="datetime"],
.p-form-stacked input[type="datetime-local"],
.p-form-stacked input[type="week"],
.p-form-stacked input[type="number"],
.p-form-stacked input[type="search"],
.p-form-stacked input[type="tel"],
.p-form-stacked input[type="color"],
.p-form-stacked input[type="file"],
.p-form-stacked select,
.p-form-stacked label,
.p-form-stacked textarea {
	display: block;
	margin: 0.25em 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.p-form-stacked input:not([type]) {
	display: block;
	margin: 0.25em 0;
}
.p-form-aligned input,
.p-form-aligned textarea,
.p-form-aligned select,
/* NOTE: pure-help-inline is deprecated. Use .p-form-message-inline instead. */
.p-form-aligned .p-help-inline,
.p-form-message-inline {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
}
.p-form-aligned textarea {
	vertical-align: top;
}

/* Aligned Forms */
.p-form-aligned .p-control-group {
	margin-bottom: 0.5em;
}
.p-form-aligned .p-control-group label {
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	width: 10em;
	margin: 0 1em 0 0;
}
.p-form-aligned .p-controls {
	margin: 1.5em 0 0 11em;
}

/* Rounded Inputs */
.p-form input.p-input-rounded,
.p-form .p-input-rounded {
	border-radius: 2em;
	padding: 0.5em 1em;
}

/* Grouped Inputs */
.p-form .p-group fieldset {
	margin-bottom: 10px;
}
.p-form .p-group input,
.p-form .p-group textarea {
	display: block;
	padding: 10px;
	margin: 0 0 -1px;
	border-radius: 0;
	position: relative;
	top: -1px;
}
.p-form .p-group input:focus,
.p-form .p-group textarea:focus {
	z-index: 3;
}
.p-form .p-group input:first-child,
.p-form .p-group textarea:first-child {
	top: 1px;
	border-radius: 4px 4px 0 0;
	margin: 0;
}
.p-form .p-group input:first-child:last-child,
.p-form .p-group textarea:first-child:last-child {
	top: 1px;
	border-radius: 4px;
	margin: 0;
}
.p-form .p-group input:last-child,
.p-form .p-group textarea:last-child {
	top: -2px;
	border-radius: 0 0 4px 4px;
	margin: 0;
}
.p-form .p-group button {
	margin: 0.35em 0;
}

.p-form .p-input-1 {
	width: 100%;
}
.p-form .p-input-2-3 {
	width: 66%;
}
.p-form .p-input-1-2 {
	width: 50%;
}
.p-form .p-input-1-3 {
	width: 33%;
}
.p-form .p-input-1-4 {
	width: 25%;
}

/* Inline help for forms */
/* NOTE: pure-help-inline is deprecated. Use .p-form-message-inline instead. */
.p-form .p-help-inline,
.p-form-message-inline {
	display: inline-block;
	padding-left: 0.3em;
	color: #666;
	vertical-align: middle;
	font-size: 0.875em;
}

/* Block help for forms */
.p-form-message {
	display: block;
	color: #666;
	font-size: 0.875em;
}

@media only screen and (max-width : 480px) {
	.p-form button[type="submit"] {
		margin: 0.7em 0 0;
	}

	.p-form input:not([type]),
	.p-form input[type="text"],
	.p-form input[type="password"],
	.p-form input[type="email"],
	.p-form input[type="url"],
	.p-form input[type="date"],
	.p-form input[type="month"],
	.p-form input[type="time"],
	.p-form input[type="datetime"],
	.p-form input[type="datetime-local"],
	.p-form input[type="week"],
	.p-form input[type="number"],
	.p-form input[type="search"],
	.p-form input[type="tel"],
	.p-form input[type="color"],
	.p-form label {
		margin-bottom: 0.3em;
		display: block;
	}

	.p-group input:not([type]),
	.p-group input[type="text"],
	.p-group input[type="password"],
	.p-group input[type="email"],
	.p-group input[type="url"],
	.p-group input[type="date"],
	.p-group input[type="month"],
	.p-group input[type="time"],
	.p-group input[type="datetime"],
	.p-group input[type="datetime-local"],
	.p-group input[type="week"],
	.p-group input[type="number"],
	.p-group input[type="search"],
	.p-group input[type="tel"],
	.p-group input[type="color"] {
		margin-bottom: 0;
	}

	.p-form-aligned .p-control-group label {
		margin-bottom: 0.3em;
		text-align: left;
		display: block;
		width: 100%;
	}

	.p-form-aligned .p-controls {
		margin: 1.5em 0 0 0;
	}

	/* NOTE: pure-help-inline is deprecated. Use .p-form-message-inline instead. */
	.p-form .p-help-inline,
	.p-form-message-inline,
	.p-form-message {
		display: block;
		font-size: 0.75em;
		/* Increased bottom padding to make it group with its related input element. */
		padding: 0.2em 0 0.8em;
	}
}
/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/

/* Ninamori-mod: those should work on even smaller screens*/
@media screen and (min-width: 0.5em) {
	.p-u-sm-1,
	.p-u-sm-1-1,
	.p-u-sm-1-2,
	.p-u-sm-1-3,
	.p-u-sm-2-3,
	.p-u-sm-1-4,
	.p-u-sm-3-4,
	.p-u-sm-1-5,
	.p-u-sm-2-5,
	.p-u-sm-3-5,
	.p-u-sm-4-5,
	.p-u-sm-5-5,
	.p-u-sm-1-6,
	.p-u-sm-5-6,
	.p-u-sm-1-8,
	.p-u-sm-3-8,
	.p-u-sm-5-8,
	.p-u-sm-7-8,
	.p-u-sm-1-12,
	.p-u-sm-5-12,
	.p-u-sm-7-12,
	.p-u-sm-11-12,
	.p-u-sm-1-24,
	.p-u-sm-2-24,
	.p-u-sm-3-24,
	.p-u-sm-4-24,
	.p-u-sm-5-24,
	.p-u-sm-6-24,
	.p-u-sm-7-24,
	.p-u-sm-8-24,
	.p-u-sm-9-24,
	.p-u-sm-10-24,
	.p-u-sm-11-24,
	.p-u-sm-12-24,
	.p-u-sm-13-24,
	.p-u-sm-14-24,
	.p-u-sm-15-24,
	.p-u-sm-16-24,
	.p-u-sm-17-24,
	.p-u-sm-18-24,
	.p-u-sm-19-24,
	.p-u-sm-20-24,
	.p-u-sm-21-24,
	.p-u-sm-22-24,
	.p-u-sm-23-24,
	.p-u-sm-24-24 {
		display: inline-block;
		*display: inline;
		zoom: 1;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto;
	}

	.p-u-sm-1-24 {
		width: 4.1667%;
		*width: 4.1357%;
	}

	.p-u-sm-1-12,
	.p-u-sm-2-24 {
		width: 8.3333%;
		*width: 8.3023%;
	}

	.p-u-sm-1-8,
	.p-u-sm-3-24 {
		width: 12.5000%;
		*width: 12.4690%;
	}

	.p-u-sm-1-6,
	.p-u-sm-4-24 {
		width: 16.6667%;
		*width: 16.6357%;
	}

	.p-u-sm-1-5 {
		width: 20%;
		*width: 19.9690%;
	}

	.p-u-sm-5-24 {
		width: 20.8333%;
		*width: 20.8023%;
	}

	.p-u-sm-1-4,
	.p-u-sm-6-24 {
		width: 25%;
		*width: 24.9690%;
	}

	.p-u-sm-7-24 {
		width: 29.1667%;
		*width: 29.1357%;
	}

	.p-u-sm-1-3,
	.p-u-sm-8-24 {
		width: 33.3333%;
		*width: 33.3023%;
	}

	.p-u-sm-3-8,
	.p-u-sm-9-24 {
		width: 37.5000%;
		*width: 37.4690%;
	}

	.p-u-sm-2-5 {
		width: 40%;
		*width: 39.9690%;
	}

	.p-u-sm-5-12,
	.p-u-sm-10-24 {
		width: 41.6667%;
		*width: 41.6357%;
	}

	.p-u-sm-11-24 {
		width: 45.8333%;
		*width: 45.8023%;
	}

	.p-u-sm-1-2,
	.p-u-sm-12-24 {
		width: 50%;
		*width: 49.9690%;
	}

	.p-u-sm-13-24 {
		width: 54.1667%;
		*width: 54.1357%;
	}

	.p-u-sm-7-12,
	.p-u-sm-14-24 {
		width: 58.3333%;
		*width: 58.3023%;
	}

	.p-u-sm-3-5 {
		width: 60%;
		*width: 59.9690%;
	}

	.p-u-sm-5-8,
	.p-u-sm-15-24 {
		width: 62.5000%;
		*width: 62.4690%;
	}

	.p-u-sm-2-3,
	.p-u-sm-16-24 {
		width: 66.6667%;
		*width: 66.6357%;
	}

	.p-u-sm-17-24 {
		width: 70.8333%;
		*width: 70.8023%;
	}

	.p-u-sm-3-4,
	.p-u-sm-18-24 {
		width: 75%;
		*width: 74.9690%;
	}

	.p-u-sm-19-24 {
		width: 79.1667%;
		*width: 79.1357%;
	}

	.p-u-sm-4-5 {
		width: 80%;
		*width: 79.9690%;
	}

	.p-u-sm-5-6,
	.p-u-sm-20-24 {
		width: 83.3333%;
		*width: 83.3023%;
	}

	.p-u-sm-7-8,
	.p-u-sm-21-24 {
		width: 87.5000%;
		*width: 87.4690%;
	}

	.p-u-sm-11-12,
	.p-u-sm-22-24 {
		width: 91.6667%;
		*width: 91.6357%;
	}

	.p-u-sm-23-24 {
		width: 95.8333%;
		*width: 95.8023%;
	}

	.p-u-sm-1,
	.p-u-sm-1-1,
	.p-u-sm-5-5,
	.p-u-sm-24-24 {
		width: 100%;
	}
}

@media screen and (min-width: 48em) {
	.p-u-md-1,
	.p-u-md-1-1,
	.p-u-md-1-2,
	.p-u-md-1-3,
	.p-u-md-2-3,
	.p-u-md-1-4,
	.p-u-md-3-4,
	.p-u-md-1-5,
	.p-u-md-2-5,
	.p-u-md-3-5,
	.p-u-md-4-5,
	.p-u-md-5-5,
	.p-u-md-1-6,
	.p-u-md-5-6,
	.p-u-md-1-8,
	.p-u-md-3-8,
	.p-u-md-5-8,
	.p-u-md-7-8,
	.p-u-md-1-12,
	.p-u-md-5-12,
	.p-u-md-7-12,
	.p-u-md-11-12,
	.p-u-md-1-24,
	.p-u-md-2-24,
	.p-u-md-3-24,
	.p-u-md-4-24,
	.p-u-md-5-24,
	.p-u-md-6-24,
	.p-u-md-7-24,
	.p-u-md-8-24,
	.p-u-md-9-24,
	.p-u-md-10-24,
	.p-u-md-11-24,
	.p-u-md-12-24,
	.p-u-md-13-24,
	.p-u-md-14-24,
	.p-u-md-15-24,
	.p-u-md-16-24,
	.p-u-md-17-24,
	.p-u-md-18-24,
	.p-u-md-19-24,
	.p-u-md-20-24,
	.p-u-md-21-24,
	.p-u-md-22-24,
	.p-u-md-23-24,
	.p-u-md-24-24 {
		display: inline-block;
		*display: inline;
		zoom: 1;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto;
	}

	.p-u-md-1-24 {
		width: 4.1667%;
		*width: 4.1357%;
	}

	.p-u-md-1-12,
	.p-u-md-2-24 {
		width: 8.3333%;
		*width: 8.3023%;
	}

	.p-u-md-1-8,
	.p-u-md-3-24 {
		width: 12.5000%;
		*width: 12.4690%;
	}

	.p-u-md-1-6,
	.p-u-md-4-24 {
		width: 16.6667%;
		*width: 16.6357%;
	}

	.p-u-md-1-5 {
		width: 20%;
		*width: 19.9690%;
	}

	.p-u-md-5-24 {
		width: 20.8333%;
		*width: 20.8023%;
	}

	.p-u-md-1-4,
	.p-u-md-6-24 {
		width: 25%;
		*width: 24.9690%;
	}

	.p-u-md-7-24 {
		width: 29.1667%;
		*width: 29.1357%;
	}

	.p-u-md-1-3,
	.p-u-md-8-24 {
		width: 33.3333%;
		*width: 33.3023%;
	}

	.p-u-md-3-8,
	.p-u-md-9-24 {
		width: 37.5000%;
		*width: 37.4690%;
	}

	.p-u-md-2-5 {
		width: 40%;
		*width: 39.9690%;
	}

	.p-u-md-5-12,
	.p-u-md-10-24 {
		width: 41.6667%;
		*width: 41.6357%;
	}

	.p-u-md-11-24 {
		width: 45.8333%;
		*width: 45.8023%;
	}

	.p-u-md-1-2,
	.p-u-md-12-24 {
		width: 50%;
		*width: 49.9690%;
	}

	.p-u-md-13-24 {
		width: 54.1667%;
		*width: 54.1357%;
	}

	.p-u-md-7-12,
	.p-u-md-14-24 {
		width: 58.3333%;
		*width: 58.3023%;
	}

	.p-u-md-3-5 {
		width: 60%;
		*width: 59.9690%;
	}

	.p-u-md-5-8,
	.p-u-md-15-24 {
		width: 62.5000%;
		*width: 62.4690%;
	}

	.p-u-md-2-3,
	.p-u-md-16-24 {
		width: 66.6667%;
		*width: 66.6357%;
	}

	.p-u-md-17-24 {
		width: 70.8333%;
		*width: 70.8023%;
	}

	.p-u-md-3-4,
	.p-u-md-18-24 {
		width: 75%;
		*width: 74.9690%;
	}

	.p-u-md-19-24 {
		width: 79.1667%;
		*width: 79.1357%;
	}

	.p-u-md-4-5 {
		width: 80%;
		*width: 79.9690%;
	}

	.p-u-md-5-6,
	.p-u-md-20-24 {
		width: 83.3333%;
		*width: 83.3023%;
	}

	.p-u-md-7-8,
	.p-u-md-21-24 {
		width: 87.5000%;
		*width: 87.4690%;
	}

	.p-u-md-11-12,
	.p-u-md-22-24 {
		width: 91.6667%;
		*width: 91.6357%;
	}

	.p-u-md-23-24 {
		width: 95.8333%;
		*width: 95.8023%;
	}

	.p-u-md-1,
	.p-u-md-1-1,
	.p-u-md-5-5,
	.p-u-md-24-24 {
		width: 100%;
	}
}

@media screen and (min-width: 64em) {
	.p-u-lg-1,
	.p-u-lg-1-1,
	.p-u-lg-1-2,
	.p-u-lg-1-3,
	.p-u-lg-2-3,
	.p-u-lg-1-4,
	.p-u-lg-3-4,
	.p-u-lg-1-5,
	.p-u-lg-2-5,
	.p-u-lg-3-5,
	.p-u-lg-4-5,
	.p-u-lg-5-5,
	.p-u-lg-1-6,
	.p-u-lg-5-6,
	.p-u-lg-1-8,
	.p-u-lg-3-8,
	.p-u-lg-5-8,
	.p-u-lg-7-8,
	.p-u-lg-1-12,
	.p-u-lg-5-12,
	.p-u-lg-7-12,
	.p-u-lg-11-12,
	.p-u-lg-1-24,
	.p-u-lg-2-24,
	.p-u-lg-3-24,
	.p-u-lg-4-24,
	.p-u-lg-5-24,
	.p-u-lg-6-24,
	.p-u-lg-7-24,
	.p-u-lg-8-24,
	.p-u-lg-9-24,
	.p-u-lg-10-24,
	.p-u-lg-11-24,
	.p-u-lg-12-24,
	.p-u-lg-13-24,
	.p-u-lg-14-24,
	.p-u-lg-15-24,
	.p-u-lg-16-24,
	.p-u-lg-17-24,
	.p-u-lg-18-24,
	.p-u-lg-19-24,
	.p-u-lg-20-24,
	.p-u-lg-21-24,
	.p-u-lg-22-24,
	.p-u-lg-23-24,
	.p-u-lg-24-24 {
		display: inline-block;
		*display: inline;
		zoom: 1;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto;
	}

	.p-u-lg-1-24 {
		width: 4.1667%;
		*width: 4.1357%;
	}

	.p-u-lg-1-12,
	.p-u-lg-2-24 {
		width: 8.3333%;
		*width: 8.3023%;
	}

	.p-u-lg-1-8,
	.p-u-lg-3-24 {
		width: 12.5000%;
		*width: 12.4690%;
	}

	.p-u-lg-1-6,
	.p-u-lg-4-24 {
		width: 16.6667%;
		*width: 16.6357%;
	}

	.p-u-lg-1-5 {
		width: 20%;
		*width: 19.9690%;
	}

	.p-u-lg-5-24 {
		width: 20.8333%;
		*width: 20.8023%;
	}

	.p-u-lg-1-4,
	.p-u-lg-6-24 {
		width: 25%;
		*width: 24.9690%;
	}

	.p-u-lg-7-24 {
		width: 29.1667%;
		*width: 29.1357%;
	}

	.p-u-lg-1-3,
	.p-u-lg-8-24 {
		width: 33.3333%;
		*width: 33.3023%;
	}

	.p-u-lg-3-8,
	.p-u-lg-9-24 {
		width: 37.5000%;
		*width: 37.4690%;
	}

	.p-u-lg-2-5 {
		width: 40%;
		*width: 39.9690%;
	}

	.p-u-lg-5-12,
	.p-u-lg-10-24 {
		width: 41.6667%;
		*width: 41.6357%;
	}

	.p-u-lg-11-24 {
		width: 45.8333%;
		*width: 45.8023%;
	}

	.p-u-lg-1-2,
	.p-u-lg-12-24 {
		width: 50%;
		*width: 49.9690%;
	}

	.p-u-lg-13-24 {
		width: 54.1667%;
		*width: 54.1357%;
	}

	.p-u-lg-7-12,
	.p-u-lg-14-24 {
		width: 58.3333%;
		*width: 58.3023%;
	}

	.p-u-lg-3-5 {
		width: 60%;
		*width: 59.9690%;
	}

	.p-u-lg-5-8,
	.p-u-lg-15-24 {
		width: 62.5000%;
		*width: 62.4690%;
	}

	.p-u-lg-2-3,
	.p-u-lg-16-24 {
		width: 66.6667%;
		*width: 66.6357%;
	}

	.p-u-lg-17-24 {
		width: 70.8333%;
		*width: 70.8023%;
	}

	.p-u-lg-3-4,
	.p-u-lg-18-24 {
		width: 75%;
		*width: 74.9690%;
	}

	.p-u-lg-19-24 {
		width: 79.1667%;
		*width: 79.1357%;
	}

	.p-u-lg-4-5 {
		width: 80%;
		*width: 79.9690%;
	}

	.p-u-lg-5-6,
	.p-u-lg-20-24 {
		width: 83.3333%;
		*width: 83.3023%;
	}

	.p-u-lg-7-8,
	.p-u-lg-21-24 {
		width: 87.5000%;
		*width: 87.4690%;
	}

	.p-u-lg-11-12,
	.p-u-lg-22-24 {
		width: 91.6667%;
		*width: 91.6357%;
	}

	.p-u-lg-23-24 {
		width: 95.8333%;
		*width: 95.8023%;
	}

	.p-u-lg-1,
	.p-u-lg-1-1,
	.p-u-lg-5-5,
	.p-u-lg-24-24 {
		width: 100%;
	}
}

@media screen and (min-width: 80em) {
	.p-u-xl-1,
	.p-u-xl-1-1,
	.p-u-xl-1-2,
	.p-u-xl-1-3,
	.p-u-xl-2-3,
	.p-u-xl-1-4,
	.p-u-xl-3-4,
	.p-u-xl-1-5,
	.p-u-xl-2-5,
	.p-u-xl-3-5,
	.p-u-xl-4-5,
	.p-u-xl-5-5,
	.p-u-xl-1-6,
	.p-u-xl-5-6,
	.p-u-xl-1-8,
	.p-u-xl-3-8,
	.p-u-xl-5-8,
	.p-u-xl-7-8,
	.p-u-xl-1-12,
	.p-u-xl-5-12,
	.p-u-xl-7-12,
	.p-u-xl-11-12,
	.p-u-xl-1-24,
	.p-u-xl-2-24,
	.p-u-xl-3-24,
	.p-u-xl-4-24,
	.p-u-xl-5-24,
	.p-u-xl-6-24,
	.p-u-xl-7-24,
	.p-u-xl-8-24,
	.p-u-xl-9-24,
	.p-u-xl-10-24,
	.p-u-xl-11-24,
	.p-u-xl-12-24,
	.p-u-xl-13-24,
	.p-u-xl-14-24,
	.p-u-xl-15-24,
	.p-u-xl-16-24,
	.p-u-xl-17-24,
	.p-u-xl-18-24,
	.p-u-xl-19-24,
	.p-u-xl-20-24,
	.p-u-xl-21-24,
	.p-u-xl-22-24,
	.p-u-xl-23-24,
	.p-u-xl-24-24 {
		display: inline-block;
		*display: inline;
		zoom: 1;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto;
	}

	.p-u-xl-1-24 {
		width: 4.1667%;
		*width: 4.1357%;
	}

	.p-u-xl-1-12,
	.p-u-xl-2-24 {
		width: 8.3333%;
		*width: 8.3023%;
	}

	.p-u-xl-1-8,
	.p-u-xl-3-24 {
		width: 12.5000%;
		*width: 12.4690%;
	}

	.p-u-xl-1-6,
	.p-u-xl-4-24 {
		width: 16.6667%;
		*width: 16.6357%;
	}

	.p-u-xl-1-5 {
		width: 20%;
		*width: 19.9690%;
	}

	.p-u-xl-5-24 {
		width: 20.8333%;
		*width: 20.8023%;
	}

	.p-u-xl-1-4,
	.p-u-xl-6-24 {
		width: 25%;
		*width: 24.9690%;
	}

	.p-u-xl-7-24 {
		width: 29.1667%;
		*width: 29.1357%;
	}

	.p-u-xl-1-3,
	.p-u-xl-8-24 {
		width: 33.3333%;
		*width: 33.3023%;
	}

	.p-u-xl-3-8,
	.p-u-xl-9-24 {
		width: 37.5000%;
		*width: 37.4690%;
	}

	.p-u-xl-2-5 {
		width: 40%;
		*width: 39.9690%;
	}

	.p-u-xl-5-12,
	.p-u-xl-10-24 {
		width: 41.6667%;
		*width: 41.6357%;
	}

	.p-u-xl-11-24 {
		width: 45.8333%;
		*width: 45.8023%;
	}

	.p-u-xl-1-2,
	.p-u-xl-12-24 {
		width: 50%;
		*width: 49.9690%;
	}

	.p-u-xl-13-24 {
		width: 54.1667%;
		*width: 54.1357%;
	}

	.p-u-xl-7-12,
	.p-u-xl-14-24 {
		width: 58.3333%;
		*width: 58.3023%;
	}

	.p-u-xl-3-5 {
		width: 60%;
		*width: 59.9690%;
	}

	.p-u-xl-5-8,
	.p-u-xl-15-24 {
		width: 62.5000%;
		*width: 62.4690%;
	}

	.p-u-xl-2-3,
	.p-u-xl-16-24 {
		width: 66.6667%;
		*width: 66.6357%;
	}

	.p-u-xl-17-24 {
		width: 70.8333%;
		*width: 70.8023%;
	}

	.p-u-xl-3-4,
	.p-u-xl-18-24 {
		width: 75%;
		*width: 74.9690%;
	}

	.p-u-xl-19-24 {
		width: 79.1667%;
		*width: 79.1357%;
	}

	.p-u-xl-4-5 {
		width: 80%;
		*width: 79.9690%;
	}

	.p-u-xl-5-6,
	.p-u-xl-20-24 {
		width: 83.3333%;
		*width: 83.3023%;
	}

	.p-u-xl-7-8,
	.p-u-xl-21-24 {
		width: 87.5000%;
		*width: 87.4690%;
	}

	.p-u-xl-11-12,
	.p-u-xl-22-24 {
		width: 91.6667%;
		*width: 91.6357%;
	}

	.p-u-xl-23-24 {
		width: 95.8333%;
		*width: 95.8023%;
	}

	.p-u-xl-1,
	.p-u-xl-1-1,
	.p-u-xl-5-5,
	.p-u-xl-24-24 {
		width: 100%;
	}
}/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
/*csslint adjoining-classes: false, box-model:false*/
.p-menu {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.p-menu-fixed {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
}

.p-menu-list,
.p-menu-item {
	position: relative;
}

.p-menu-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.p-menu-item {
	padding: 0;
	margin: 0;
	height: 100%;
}

.p-menu-link,
.p-menu-heading {
	display: block;
	text-decoration: none;
	white-space: nowrap;
}

/* HORIZONTAL MENU */
.p-menu-horizontal {
	width: 100%;
	white-space: nowrap;
}

.p-menu-horizontal .p-menu-list {
	display: inline-block;
}

/* Initial menus should be inline-block so that they are horizontal */
.p-menu-horizontal .p-menu-item,
.p-menu-horizontal .p-menu-heading,
.p-menu-horizontal .p-menu-separator {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
}

/* Submenus should still be display: block; */
.p-menu-item .p-menu-item {
	display: block;
}

.p-menu-children {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	margin: 0;
	padding: 0;
	z-index: 3;
}

.p-menu-horizontal .p-menu-children {
	left: 0;
	top: auto;
	width: inherit;
}

.p-menu-allow-hover:hover > .p-menu-children,
.p-menu-active > .p-menu-children {
	display: block;
	position: absolute;
}

/* Vertical Menus - show the dropdown arrow */
.p-menu-has-children > .p-menu-link:after {
	padding-left: 0.5em;
	content: "\25B8";
	font-size: small;
}

/* Horizontal Menus - show the dropdown arrow */
.p-menu-horizontal .p-menu-has-children > .p-menu-link:after {
	content: "\25BE";
}

/* scrollable menus */
.p-menu-scrollable {
	overflow-y: scroll;
	overflow-x: hidden;
}

.p-menu-scrollable .p-menu-list {
	display: block;
}

.p-menu-horizontal.p-menu-scrollable .p-menu-list {
	display: inline-block;
}

.p-menu-horizontal.p-menu-scrollable {
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
	/* a little extra padding for this style to allow for scrollbars */
	padding: .5em 0;
}

.p-menu-horizontal.p-menu-scrollable::-webkit-scrollbar {
	display: none;
}

/* misc default styling */

.p-menu-separator {
	background-color: #ccc;
	height: 1px;
	margin: .3em 0;
}

.p-menu-horizontal .p-menu-separator {
	width: 1px;
	height: 1.3em;
	margin: 0 .3em ;
}

.p-menu-heading {
	text-transform: uppercase;
	color: #565d64;
}

.p-menu-link {
	color: #777;
}

.p-menu-children {
	background-color: #fff;
}

.p-menu-link,
.p-menu-disabled,
.p-menu-heading {
	padding: .5em 1em;
}

.p-menu-disabled {
	opacity: .5;
}

.p-menu-disabled .p-menu-link:hover {
	background-color: transparent;
}

.p-menu-active > .p-menu-link,
.p-menu-link:hover,
.p-menu-link:focus {
	background-color: #eee;
}

.p-menu-selected .p-menu-link,
.p-menu-selected .p-menu-link:visited {
	color: #000;
}
/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.p-table {
	/* Remove spacing between table cells (from Normalize.css) */
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid #cbcbcb;
}

.p-table caption {
	color: #000;
	font: italic 85%/1 arial, sans-serif;
	padding: 1em 0;
	text-align: center;
}

.p-table td,
.p-table th {
	border-left: 1px solid #cbcbcb;/*  inner column border */
	border-width: 0 0 0 1px;
	font-size: inherit;
	margin: 0;
	overflow: visible; /*to make ths where the title is really long work*/
	padding: 0.5em 1em; /* cell padding */
}

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
.p-table td:first-child,
.p-table th:first-child {
	border-left-width: 0;
}

.p-table thead {
	background-color: #e0e0e0;
	color: #000;
	text-align: left;
	vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.p-table td {
	background-color: transparent;
}
.p-table-odd td {
	background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
.p-table-striped tr:nth-child(2n-1) td {
	background-color: #f2f2f2;
}

/* BORDERED TABLES */
.p-table-bordered td {
	border-bottom: 1px solid #cbcbcb;
}
.p-table-bordered tbody > tr:last-child > td {
	border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.p-table-horizontal td,
.p-table-horizontal th {
	border-width: 0 0 1px 0;
	border-bottom: 1px solid #cbcbcb;
}
.p-table-horizontal tbody > tr:last-child > td {
	border-bottom-width: 0;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
	background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
	background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
	background: rgb(66, 184, 221); /* this is a light blue */
}

.button-xsmall {
	font-size: 70%;
}

.button-small {
	font-size: 85%;
}

.button-large {
	font-size: 110%;
}

.button-xlarge {
	font-size: 125%;
}
