{% load i18n %}
<!-- TODO apply errorlist classes -->
<form class="p-form p-form-aligned" method="POST" action="{{ url_manage }}">
	<fieldset>
		{% csrf_token %}
		<div class="p-controls">
			<h4>{% trans 'Personal data' %}</h4>
		</div>
		<div class="p-control-group">
			<label for="id_first_name">{% trans 'First name' %}</label>
			{{ manage_form.first_name }}
			{% for error in manage_form_errors.first_name %}{{ error }}<br />{% endfor %}
		</div>
		<div class="p-control-group">
			<label for="id_last_name">{% trans 'Last name' %}</label>
			{{ manage_form.last_name }}
			{% for error in manage_form_errors.last_name %}{{ error }}<br />{% endfor %}
		</div>
		<div class="p-control-group">
			<label for="id_settings_comments_delay_interval"><small>{% trans 'delay interval between commentary notifications in days' %}</small></label>
			{{ manage_form.settings_comments_delay_interval }}
			{% for error in manage_form_errors.settings_comments_delay_interval %}{{ error }}<br />{% endfor %}
		</div>
		<div>
			<label class="p-checkbox" for="settings_comments_enable_notifying">
				{{ manage_form.settings_comments_enable_notifying }}
				<small>{% trans 'enable email notifications about new comments' %}</small>
				{% for error in manage_form_errors.settings_comments_enable_notifying %}{{ error }}<br />{% endfor %}
			</label>
		</div>
		<div class="p-controls">
			<h4>{% trans 'Password change' %}</h4>
		</div>
		<div class="p-control-group">
			<label for="id_password">{% trans 'current password' %}</label>
			{{ manage_form.password }}
			{% for error in manage_form_errors.password %}{{ error }}<br />{% endfor %}
		</div>
		<div class="p-control-group">
			<label for="id_new_password">{% trans 'new password' %}</label>
			{{ manage_form.new_password }}
			{% for error in manage_form_errors.new_password %}{{ error }}<br />{% endfor %}
		</div>
		<div class="p-control-group">
			<label for="id_new_password_confirm">{% trans 'new password again' %}</label>
			{{ manage_form.new_password_confirm }}
			{% for error in manage_form_errors.new_password_confirm %}{{ error }}<br />{% endfor %}
		</div>
		<div class="p-controls">
			<input class="p-button p-button-primary" type="submit" value="{% trans 'Manage' %}">
		</div>
	</fieldset>
</form>
