{% load i18n %}
{% if message %}<div class="p-label label-yellow">{{ message }}</div>{% endif %}

{% if updated %}
	<div class="p-label label-blue" id="success">{% trans 'Updated successfully' %}</div>
	<script>
		setTimeout('document.getElementById("success").remove()', 3000);
	</script>
{% endif %}

{% if user.userprofile.validation_email_valid %}
	<div class="p-label label-green">{% trans 'Email address validated' %}</div>

	{% if not user.userprofile.authorization_key %}
		<div class="p-label label-blue">{% trans 'Authorization key is not set' %}
			{% if new_key_available %}
				<form class="inline-form" action="{{ url_make_authorization_key }}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="make_key" value="please">
					<input class="p-button button-small button-secondary" type="submit" title="{% trans 'Your key will be sent to you by email.' %}" value="{% trans 'Please make and send me a key' %}"><br />
				</form>
			{% endif %}
		</div>
		{% if not new_key_available %}
			<div class="p-label label-yellow">{% trans 'New authorizarion key is not available yet' %}</div>
		{% endif %}
	{% else %}
		<div class="p-label label-blue">{% trans 'Authorization key is set' %}
			<a href="{{ url_remove_authorization_key }}" class="p-button button-small button-secondary" >{% trans 'Please remove my key' %}</a>
		</div>
	{% endif %}

{% else %}
	<div class="p-label label-red">{% trans 'Email address not yet validated' %}
		{% if not code %}
			<form class="inline-form" action="{{ url_validate_email }}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="send_another_code" value="please">
				<input class="p-button button-small button-secondary" type="submit" value="{% trans 'Please send me another code' %}">
			</form>
		{% endif %}
	</div>
	{% if code == 'yes' %}
		<div class="p-label label-blue">{% trans 'New code sent by your request' %}</div>
	{% elif code == 'no' %}
		<div class="p-label label-yellow">{% trans 'You should not request new codes too often' %}</div>
	{% endif %}
{% endif %}
