{% load i18n %}
{% load global_tags %}
{% load accounts_tags %}
{% load comments_tags %}

<div id="id_comments" class="p-g comments">
	{% include 'comments/branch.html' %}

	{% if premoderation_mode != 'dis' %}
		{% if user_email_validated_or_anonymous %}
			<div class="p-button button-secondary comments-bottom-button" onclick="move_comment_form('');">{% trans 'Add comment' %}</div>
			<form id="comment_form" action="{{ comment_url }}" method="POST" class="comment_form hidden">
				{% csrf_token %}
				{% if group_data.mode == 'tree' %}
					<div class="new-comment-notice" id="new_comment_notice">
{% blocktrans with button='<a class="p-button button-xsmall button-secondary">↶</a>'%}You are about to add a new comment.<br />
If you want to answer to another comment, you should use click/touch {{ button }} button instead.{% endblocktrans %}
					</div>
				{% endif %}
				{{ comment_form.parent_uuid.errors }}{{ comment_form.parent_uuid }}
				{{ comment_form.comments_group_alias.errors }}{{ comment_form.comments_group_alias }}
				<div class="p-u-sm-1 comment answer{% if group_data.mode == 'tree' %} tree{% endif %}">
					<div id="comment_form_gravatar" class="gravatar">
						{% if user_email %}
							<img class="avatar" src="{% get_avatar user_email 80 %}">
						{% else %}
							<img class="avatar" src="/static/img/anonymous.png">
						{% endif %}
					</div>
					<div class="p-g comment_content">
						<div class="p-u-sm-1 name_and_date">{% trans 'Your comment' %}</div>
						{{ comment_form.content.errors }}{{ comment_form.content }}
						{% if user_email and group_data.mode == 'tree' %}
							<br />
							<label for="id_email_updates">
								{{ comment_form.email_updates.errors }}{{ comment_form.email_updates }}
								{% trans 'Notify me about updates' %}
							</label>
						{% endif %}
						<input class="p-button p-button-primary" type="submit" value="{% trans 'Submit' %}">
					</div>
				</div>
			</form>
			<form id="edit_form" action="{{ edit_url }}" method="POST" class="inline_editor hidden">
				{% csrf_token %}
				{{ edit_form.content.errors }}{{ edit_form.content }}<br />
				{{ edit_form.comment_uuid.errors }}{{ edit_form.comment_uuid }}<br />
				{% if user_email and group_data.mode == 'tree' %}
					<label for="id_email_updates">
						{{ edit_form.email_updates.errors }}{{ edit_form.email_updates }}
						{% trans 'Notify me about updates' %}
					</label>
				{% endif %}
				{{ edit_form.comments_group_alias.errors }}{{ edit_form.comments_group_alias }}
				<input class="p-button p-button-primary" type="submit" value="{% trans 'Submit correction' %}">
			</form>
		{% else %}
			<form class="hidden">{{ comment_form.comments_group_alias.errors }}{{ comment_form.comments_group_alias }}</form>
			<h4>{% trans 'Commentary is disabled until email address is validated' %}</h4>
		{% endif %}
	{% else %}
		<form class="hidden">{{ comment_form.comments_group_alias.errors }}{{ comment_form.comments_group_alias }}</form>
		<h4>{% trans 'Commentary is disabled' %}</h4>
	{% endif %}
	{% if user_email_validated_or_anonymous and user_email %}
		{% if group_watched %}
			<div id="group_watch" class="p-button button-secondary watched comments-bottom-button" onclick="group_watch('unwatch');">{% trans 'Unwatch' %}</div>
		{% else %}
			<div id="group_watch" class="p-button button-secondary unwatched comments-bottom-button" onclick="group_watch('watch');">{% trans 'Watch' %}</div>
		{% endif %}
	{% endif %}
	{% if group_data.mode == 'tree' %}
		<form class="inline-form" action="{{ unfold_url }}" method="POST">
			{% csrf_token %}
			<input type="hidden" name="alias" value="{{ alias }}">
			{% if unfolded %}
			<input type="submit" class="p-button button-secondary unfolded comments-bottom-button" value="{% trans 'Fold branches back' %}">
			{% else %}
			<input type="submit" class="p-button button-secondary folded comments-bottom-button" value="{% trans 'Unfold all branches' %}">
			{% endif %}
		</form>
	{% endif %}
</div>
