{% load i18n %}
{% load comments_tags %}

<div class="p-u-sm-1 controls-box">
	{% if childs and not level and not unfolded %}
		{% if branch_unfolded %}
			<div id="fold_{{ uuid }}" class="p-button button-secondary button-xsmall fold" onclick="unfold(event);">-</div>
		{% else %}
			<div id="fold_{{ uuid }}" class="p-button button-secondary button-xsmall unfold" onclick="unfold(event);">+</div>
		{% endif %}
	{% endif %}

	<div class="controls">
		{% if premoderation_mode != 'dis' %}
			{% if group_data.mode != 'line' %}
				{% if user_email and user_email == email or group_data.moderator and can_delete and not deleted %}
					{% if email_updates %}<div id="watch_{{ uuid }}" class="p-button button-secondary watched" onclick="comment_watch('{{ uuid }}', 'unwatch');">
					{% else %}<div id="watch_{{ uuid }}" class="p-button button-secondary unwatched" onclick="comment_watch('{{ uuid }}', 'watch');">
					{% endif %}<img src="/static/img/comments/watch.png"></div>
				{% endif %}
			{% endif %}
			{% if group_data.mode == 'tree' %}
				{% if approved or group_data.moderator %}
					{% if user_email_validated_or_anonymous %}
					<div class="p-button button-secondary" onclick="move_comment_form('{{ uuid }}');">↶</div>
					{% endif %}
				{% endif %}
			{% endif %}
			{% if uuid in user_comments %}
				{% edit_button date uuid email_updates %}
			{% endif %}
		{% endif %}
		{% if group_data.moderator and not approved %}<div id="moderate_{{ uuid }}" class="p-button button-secondary moderate" onclick="moderate('{{ uuid }}', 'approve');">{% trans 'Approve' %}</div>{% endif %}
		{% if group_data.moderator and approved %}<div id="moderate_{{ uuid }}" class="p-button button-secondary moderate" onclick="moderate('{{ uuid }}', 'unapprove');">{% trans 'Unapprove' %}</div>{% endif %}
		{% if group_data.moderator %}
			{% if can_delete %}
				{% if not deleted %}
				<div id="delete_{{ uuid }}" class="p-button button-secondary moderate" onclick="moderate('{{ uuid }}', 'delete');">{% trans 'Delete' %}</div>
				{% else %}
				<div id="delete_{{ uuid }}" class="p-button button-secondary moderate" onclick="moderate('{{ uuid }}', 'undelete');">{% trans 'Undelete' %}</div>
				{% endif %}
			{% endif %}
			<div class="classified">IP: {{ ip }}<br />Language: {{ language }}</div>
		{% endif %}
	</div>
</div>
