{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans app_name %}
	{% trans 'access token changed' %}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='mailer' noswitch=True %}
{% endblock %}
{% block breadcrumbs %}

{% endblock %}
{% block content %}
	<div class="content-block">
		<h1>{% trans 'Mailing lists' %}</h1>
		<p>
{% blocktrans %}You have successfully changed your access token.<br />
New acess token was sent to your email.{% endblocktrans %}
		</p>
	</div>
{% endblock %}
