{% load i18n %}
<form class="p-u-xl-1-4 p-u-lg-1-3 p-u-md-1-2 p-u-sm-1 p-form" action="https://money.yandex.ru/quickpay/confirm.xml" method="post">
	<div class="p-u-sm-1-24"></div>
	<fieldset class="p-u-sm-11-12">
	<legend>{{ issue }}</legend>
	<label>{% trans 'Collected' %}: {{ amount_collected }}₽</label>
		<input type="hidden" name="receiver" value="{{ receiver }}">
		<input type="hidden" name="short-dest" value="{% trans 'Donation for' %} {{ site_name }}">
		<input type="hidden" name="quickpay-form" value="donate">
		<input type="hidden" name="label" value="{{ site_domain }}">
		<input type="hidden" name="formcomment" value="{{ site_name }} donation">
		<input type="hidden" name="referer" value="{{ protocol }}://{{ site_domain }}">
		<input type="hidden" name="targets" value="{% trans 'Site support' %}">
		<input type="hidden" name="successURL" value="{{ protocol }}://{{ site_domain }}">
		<input type="hidden" name="is-inner-form" value="true">
		<input type="hidden" name="writable-sum" value="true">
		<input type="hidden" name="need-email" value="true">
			<label for="yandexmoney" class="p-radio">
				<input id="yandexmoney" type="radio" name="paymentType" value="PC">
				{% trans 'Yandex Money' %}
			</label>
			<label for="bankcard" class="p-radio">
				<input id="bankcard" type="radio" name="paymentType" value="AC" checked="checked">
				{% trans 'Bank card' %}
			</label>
		<div class="p-controls">
			<input id="sum" class="p-input-1-3" type="text" name="sum" value="500">&nbsp;{% trans 'Rubles' %}
		</div>
		<div class="p-controls">
			<input class="p-input-1-3" type="text" name="comment" value="" placeholder="{% trans 'Comment' %}">
			<input class="p-button p-button-primary" type="submit" value="{% trans 'Donate' %}">
		</div>
		<hr />
	</fieldset>
	<div class="p-u-sm-1-24"></div>
</form>
